{% extends "layout.html" %} {% block content %}
<form action="/results" method="post">

    <div name="form_field">
        <label for="meal_cost">Meal cost:</label>
        {{form.meal_cost(size=40)}}
        {% for error in form.errors.meal_cost %}
    		<span style="color:red;">{{error}}</span>
    	{% endfor %} <br>
    </div>
    <div name="form_field">
        <label for="tip_percentage">Tip percentage:</label>
        {{form.tip_percentage(size=40)}}
        {% for error in form.errors.meal_cost %}
    		<span style="color:red;">{{error}}</span>
    	{% endfor %} <br>

    </div>
    <input type="submit" id="submit" value="calculate" />
</form>
{% endblock %}
